

snippet ww "ww"
	`curl 'wttr.in/ShangHai?format=3'`
endsnippet

snippet upv "update package.json version"
fix: update package.json version (v`jq -r ".version" package.json`)
endsnippet


snippet chv "update package.json version"
chore: optimize and upgrade the current architecture (v`jq -r ".version" package.json`)
endsnippet


