snippet fn
    fn ${1:function_name}($2) -> ${3:ReturnType} {
        $0
    }

snippet vimrs "rust vim: set ft=rust fdm=marker et ff=unix tw=180 sw=2:"
	// vim: set ft=rust fdm=marker et ff=unix tw=180 sw=2:
